{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
    background: linear-gradient();
    background-color: #173128;
    color: #2a5a48;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

header {
    position:sticky;
    top:0;
    background-color: #2a5a48;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
}
header, h1 {
    color: #2a5a48;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: #2a5a48;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #306652;
    color: #fff;
}

main{
    padding: 40px 20px;
    min-height: 400px;
}

h2{
    color: #2a5a48;
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #306652;
    padding-bottom: 5px;
}

h3{
    color: #2a5a48;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: justify;
}

article{
    background-color:#ffffff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

article img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}   

address{
    display: inline;
    font-style: normal;
    font-weight: bold;
    color: #3498db;
}
time{
    font-style: italic;
    color: #7f8c8d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
thead{
    background-color: #2a5a48;
    color: #ffffff;
}

th{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

section{
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}