{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
    background: linear-gradient();
    background-color: #f4f4f4;
    color: #2a5a48;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

header {
    position:sticky;
    top:0;
    background-color: #2a5a48;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
}
header h1 {
    color: #306652;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}