{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
    background: linear-gradient();
    background-color: #173128;
    color: #2a5a48;
    line-height: 1.6;
    padding: 20px;
}

.container{
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

header {
    position:sticky;
    top:0;
    background-color: #2a5a48;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
}
header, h1 {
    color: #4ebe95;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: #4ebe95;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #306652;
    color: #fff;
}

main{
    padding: 40px 20px;
    min-height: 400px;
}

h2{
    color: #2a5a48;
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #306652;
    padding-bottom: 5px;
}

h3{
    color: #2a5a48;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: justify;
}

article{
    background-color:#ffffff;
    padding: 30px;
}